<div class="p-2">
<form action="/answer" data-turbo="false" method="get">
  <label for="question">Your Question:</label>
  <input type="text" id="question" name="question" placeholder="Type here...">
  <input type="submit" value="Ask!">
</form>
</div>
